---
apiVersion: v1
kind: Service
metadata:
  name: network-perf-report
  namespace: default
  labels:
    app: network-perf-test
spec:
  ports:
  - name: http
    port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    job-name: network-perf-test
  type: ClusterIP
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: network-perf-report
  namespace: default
  labels:
    app: network-perf-test
spec:
  port:
    targetPort: 8080
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
  to:
    kind: Service
    name: network-perf-report
    weight: 100
